body {
    background-color: rgb(0, 0, 124);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 248, 238);
    border: none;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 2px 2px 15px;
    max-width: 500px;
    min-width: 300px;
}

.container .open-modal {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: rgb(0, 100, 0);
    color: #fff;
}

.btn-actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.task-title {
    font-size: 17px;
    font-weight: bold;
    flex: 1;
    word-break: break-word;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    height: 100px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: -22px;
    gap: 5px;
}

.modal-actions button {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}